@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: url('HelveticaNeue-Thin.eot');
  src: url('HelveticaNeue-Thin.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeue-Thin.woff') format('woff'),
       url('HelveticaNeue-Thin.ttf') format('truetype'),
       url('HelveticaNeue-Thin.svg#HelveticaNeue-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}

