<!DOCTYPE html>
<html>
<head>
	<title>Push Notification</title>
</head>
<body>


<h1>Push Notification</h1>
<html>
	
<body>
	
<a href="/recharge/user/">Home</a><br/> <a href="/recharge/userInfo/">Get User Information</a><br/><a href="/recharge/push/">Push All User</a><br/><a href="/recharge/userPush/">Push Single User</a>



	
<form accept="/recharge/push/" method="post">
{% csrf_token %}

<table>
	
<tr><th>Title :	</th><td><input type="text" name="title"></td></tr>
<tr><th>Message	:</th><td><input type="text" name="message"></td></tr>

<tr><td></td><td><input type="submit" value="Send"></td>

</table>

</form>

</body>

</html>

</body>
</html>