<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">App Pick</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/recharge/user/">Home</a></li>
        <li><a href="/recharge/userInfo/">Get User Information</a></li>
        <li><a href="/recharge/push/">Push All User</a></li>
        <li><a href="/recharge/userPush/">Push Single User</a></li>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container-fluid">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <h1>User Information</h1>
  {% block body_block %}

  <div class="row-fluid">
    <div class="col-lg-6">
      <form accept="/recharge/userInfo/" method="post">
        {% csrf_token %}
          
        Username :  <input type="text" name="username">
        <input type="submit" value="Send">
        </form>
        <br/>
        <br/>  
      <!-- User Information  -->

      <table border="2" >

      <tr><td>Username   :</td><td>{{user.username}}</td></tr>  
      <tr><td>First Name :</td><td>{{ user.first_name }}</td></tr>  
      <tr><td>Last Name  :</td><td>{{ user.last_name }}</td></tr> 
      <tr><td>Activation Status:</td><td>{{ user.is_active }}</td></tr>
      <tr><td>Email      :</td><td>{{ user.email }}</td></tr>    
      <tr><td>Mobile     :</td><td>{{ profile.phoneNumber }}</td></tr>   
      <tr><td>Country    :</td><td>{{ profile.country }}</td></tr>     
      <tr><td>Device ID  :</td><td>{{ profile.deviceID }}</td></tr> 
      <tr><td>Refer By   :</td><td>{{ profile.referBy.username }}</td></tr>        
      <tr><td>Date     :</td><td>{{ profile.date }}</td></tr>    
      <tr><td>Wallet Coin:</td><td>{{ wallet.coin }}</td></tr>   
      <tr><td>No of Referal :</td><td>{{ referCount }}</td></tr>

       
      </table>

      <br/>
      <br/>
      <!-- Activate and Deactivate User -->


        <form action="/recharge/activateDeactivate/" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{user.username}}" name="user_name">
        <input type="submit" value="activate or deactivate">  

        </form>


        <br/>
        <br/>

    </div>



    <div class="col-lg-6">
      
      <!-- App Installed  -->
      <br/>
      <br/>
      <br/>
      <br/>
      <table border="2">

      <tr><th>App Installed </th><th>History</th></tr>

       {% for obj in appInstalled %}                                               
       <tr><td>{{obj.app.name}} </td><td>{{obj.date}}</td></tr>                                              
        {% endfor %}


      </table>



      <br/>
      <br/>


      <!-- Game Installed  -->

      <table border="2">

      <tr><th>Game Installed </th><th>History</th></tr>

       {% for obj in gameInstalled %}                                               
       <tr><td>{{obj.game.name}} </td><td>{{obj.date}}</td></tr>                                              
        {% endfor %}


      </table>
    </div>
    
  </div>







  <div class="row-fluid">
    <div class="col-lg-12">
        <!-- Refer User List -->


        <table border="2">

        <tr><th>Username</th><th>First Name</th><th>Last Name</th><th>Activation Status</th><th>Mobile No.</th><th>Date</th><th>Device ID</th></tr>

         {% for obj in refer %}                                               
        <tr><td>{{obj.user.username}}</td><td>{{obj.user.first_name}}</td><td>{{obj.user.last_name}}</td><td>{{obj.user.is_active}}</td><td>{{obj.phoneNumber}}</td><td>{{obj.date}}</td><td>{{obj.deviceID}}</td></td>  
        {% endfor %}


        </table>





        <br/>
        <br/>












        <br/>
        <br/>
    </div>
  </div>


  <div class="row-fluid">
    <div class="col-lg-12">
      <!-- Recharge History -->

      <table border="2">

       <tr><th> Username </th><th>Number</th><th>Amount</th><th>Date</th><th>SUCCESS</th><th>FAILED</th><th>PENDING</th><th>JOLO ID</th></tr>

       {% for obj in recharge %} 
      <tr><td>{{obj}}</td><td>{{obj.phoneNumber}}</td><td>{{obj.rupee}}</td><td>{{obj.date}}</td><td>{{obj.SUCCESS}}</td><td>{{obj.FAILED}}</td><td>{{obj.PENDING}}</td><td>{{obj.orderID}}</td><tr/>
                                                    
      {% endfor %}


      </table>







    </div>
  </div>

</div>
<br/>
<br/>

{% endblock %}
</body>
</html>
