{% extends 'base.html' %}
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
    {% comment %}<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--squad css-->
    <link href="css/squadcss/style.css" type="text/css" rel="stylesheet">{% endcomment %}





</head>
<body>
{% block body_block %}
    <div class="clearfix"></div>
    <div class="container marcomm-wrap" style="margin-top: 10%;">



            <h1 class = "text-center" style = "font-size:220px">404</h1>
            <br/>
            
            <p class = "text-center" style = "font-size:100px"> Page Not Found</p>
            <div>
                





            </div>

    </div>
<br/>
<br/>
{% endblock %}



</body>
</html>