{% extends 'base.html' %}
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
    {% comment %}<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--squad css-->
    <link href="css/squadcss/style.css" type="text/css" rel="stylesheet">{% endcomment %}





</head>
<body>
{% block body_block %}
    <div class="clearfix"></div>
    <div class="area_padding contact_area">
			<!--<div class="map_area">

			</div>-->

        <br/>
        <br/>
        <br/>

			<div class="container">
                <h1 class="text-center">Contact Us</h1>
				<div class="contact">
					<div class="row">
						<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
							<div class="contact_left uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-left" data-uk-scrollspy="{cls:&#39;uk-animation-slide-left&#39;}">

                                <div>
									<h2>Our Locations</h2>
									<p>H-192. Noida-63. Delhi - NCR. INDIA.</p>
								</div>
								<div>
									<h2>Email</h2>
									<p>contact@app-pick.com</p>
								</div>
								<!--<div>
									<h2>Phone Number</h2>
									<p>+91 97 1765 9396</p>
								</div>-->

							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
							<div class="contact_right uk-scrollspy-init-inview uk-scrollspy-inview uk-animation-slide-right" data-uk-scrollspy="{cls:&#39;uk-animation-slide-right&#39;}">
								<form class="form-horizontal" action="/recharge/contactUs/" method="get" role="form">
									<div class="form-group  has-feedback">
										<input type="text" class="form-control" placeholder="Type Your Name" id="name" name="name" required>
										<span class="form-control-feedback">&#10133;</span>


									</div>
									<div class="form-group  has-feedback">
										<input type="email" class="form-control" placeholder="Type Your Email" id="email" name="email" required>
										<span class="form-control-feedback">✉</span>
									</div>
                                    <div class="form-group  has-feedback">
										<input type="text" class="form-control" placeholder="Type Your Number" id="mobile" name="mobile" required>
										<span class="form-control-feedback">&#9742;</span>
									</div>
									<div class="form-group  has-feedback">
										<textarea class="form-control" id="message" placeholder="Type your Message ..." name="message"></textarea>
									</div>
									<div class="form-group  has-feedback">
										<input type="submit" name="form_submit" id="formSubmit" class="btn" value="submit now">
									</div>
									<div class="mail_message"></div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
            <div class="map_area" id="googleMap" >
                <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3502.0595260000605!2d77.380274!3d28.627978!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ceff824c0df6b%3A0x411ef60da996c70e!2sSidhi+Enterprises!5e0!3m2!1sen!2sin!4v1423732512262" width="800" height="300" frameborder="0" style="border:0"></iframe>-->
            </div>
		



</div>
<br/>
<br/>
<script src="http://maps.googleapis.com/maps/api/js"></script>
            <script>
                var myCenter=new google.maps.LatLng(28.627931,77.380317);
                var marker;

                function initialize()
                {
                var mapProp = {
                  center:myCenter,
                  zoom:15,
                    panControl:true,
                    zoomControl:true,
                    mapTypeControl:true,
                    scaleControl:true,
                    streetViewControl:true,
                    overviewMapControl:true,
                    rotateControl:true,
                  mapTypeId:google.maps.MapTypeId.ROADMAP
                  };

                var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

                var marker=new google.maps.Marker({
                  position:myCenter,
                  animation:google.maps.Animation.BOUNCE
                  });

                marker.setMap(map);
                }

                google.maps.event.addDomListener(window, 'load', initialize);
            </script>
{% endblock %}



</body>
</html>