{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body>

        <!-- NAvigation-->

        {% block body_block %}
        <div class="clearfix"></div>
    <div class="container main-container">
        <div class="row">
            <div class="col-md-6 col-sm-12 player-text">
                <div class="elements">
                    <h1>GET PAID FOR EVERY DOWNLOAD</h1>
                    <p class="player-intro-text">
                        "Discover new Apps and earn free mobile Recharge"
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="elements">
                <h1>GET PAID FOR PLAYING GAMES</h1>
                    <p class="player-intro-text">
                        "Play and compete for weekly & monthly prizes"
                    </p>
                </div>
                
                
                <div class="row">
                	<div class="col-md-6 col-lg-6 " style="margin-top:5px;" >
				<a href="https://play.google.com/store/apps/details?id=com.apppick&hl=en">
	                        	<img class="playStoreImg" alt="App Pick- Get Paid to Play" src="{% static 'image/logo_google_play_store_badge.png' %}" >
	                    	</a>
	                </div>
	                <div class="col-md-6 col-lg-6" style="margin-top:5px;">
				<a href="http://app-pick.com/media/Apppick.apk">
		                        <img  class="playStoreImg" alt="App Pick- Get Paid to Play" src="{% static 'image/AppPick_direct_doenload.png' %}" >
		                    </a>	
	                </div>
	                
                </div>
                
                
                
                
                
                <div  >
                    
                    
                </div>

            </div>

            <div class="col-md-6 col-sm-12 col-list-phone">
                <div class="squad-cycle-wrap carousel slide carousel-fade" id="carouselHacked1" data-ride="carousel">
                    <div style="position: relative; overflow: hidden;" class="squad-cycle cycle-slideshow carousel-inner" role="listbox" data-cycle-fx="scrollHorz" data-cycle-speed="200">
                        
                        <div class="item active"> <img  src="{% static 'image/Inmobile/1.png'%}"> </div>
                        <div class="item"><img  src="{% static 'image/Inmobile/2.png'%}"></div>
                        <div class="item"><img  src="{% static 'image/Inmobile/3.png'%}"></div>
                        <div class="item"><img  src="{% static 'image/Inmobile/4.png'%}"></div>
                        <!--<img class="cycle-slide" style="position: absolute; top: 0px; opacity: 1; display: block; left: 0px; z-index: 96; visibility: hidden;" src="SquadRun%20-%20Get%20Paid%20to%20Play_files/SR-1.jpg">
                        <img class="cycle-slide" style="position: absolute; top: 0px; opacity: 1; display: block; left: 0px; z-index: 95; visibility: hidden;" src="SquadRun%20-%20Get%20Paid%20to%20Play_files/SR-2.jpg">
                        <img class="cycle-slide" style="position: absolute; top: 0px; opacity: 1; display: block; z-index: 95; left: 0px; visibility: hidden;" src="SquadRun%20-%20Get%20Paid%20to%20Play_files/SR-3.jpg">
                        <img class="cycle-slide cycle-slide-active" style="position: absolute; z-index: 99; top: 0px; opacity: 1; visibility: visible; display: block; left: 0px;" src="SquadRun%20-%20Get%20Paid%20to%20Play_files/SR-4.jpg">
                        <img class="cycle-slide" style="position: absolute; top: 0px; opacity: 1; display: block; left: 0px; z-index: 97; visibility: hidden;" src="SquadRun%20-%20Get%20Paid%20to%20Play_files/SR-5.jpg">-->
                    </div>


                </div>
            </div>
            <!--<div class="col-md-3 col-sm-12 google-play-block">
                <div role="list">
                    <a href="https://play.google.com/store/apps/details?id=com.squad.run">
                        <img alt="SquadRun App - Get Paid to Play" src="SquadRun%20-%20Get%20Paid%20to%20Play_files/logo_google_play_store_badge.png">
                    </a>
                </div>
            </div>-->
        </div>
    </div>



            <script src="js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script>
    (function loop() {
      $('.elements').each(function() {
        var $self = $(this);
        $self.parent().queue(function (n) {
          $self.fadeIn(1000).delay(5000).fadeOut(1000, n);
        });
      }).parent().promise().done(loop);
    }());
</script>
<script>
    (function loop() {
      $('.AppPickimages').each(function() {
        var $self = $(this);
        $self.parent().queue(function (n) {
          $self.fadeIn(2000).delay(2000).fadeOut(1000, n);


        });
      }).parent().promise().done(loop);
    }());
</script>
        {% endblock %}

</body>
</html>