{%extends 'base.html' %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>pagePiling.js plugin - Backgrounds</title>
    {% comment %}<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--squad css-->
    <link href="css/squadcss/style.css" type="text/css" rel="stylesheet">
{% endcomment %}




</head>
<body style="background-color: #00F;">
{% block body_block %}

    <div class="clearfix"></div>
    <div class="container marcomm-wrap" style="margin-top: 16%;">



            <h1>Privacy Policy</h1>
            <div>
                <p></p>
                <p><a href="/"><Strong>App-pick</Strong></a> is committed to protecting your privacy. This Privacy Policy applies to <a href="/"><Strong>App-pick</Strong></a> and
                    governs data collection and usage including <a href="/"><Strong>App-pick</Strong></a> mobile application and website. This Privacy
                    Policy is effective upon acceptance in registration for new registering members, and is otherwise
                    effective on the date noted above for all <a href="/"><Strong>App-pick</Strong></a> members.
                </p>
                <p>
                    This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PIIis information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
                </p>
                <p></p>

                <p><b>What personal information do we collect?</b></p>
                <p>Information We Collect:</p>
                   <ul>
                       <li>Namet</li>
                        <li>Email Address</li>
                        <li>Phone Number</li>
                        <li>Device ID</li>

                    </ul>



                <p><b>When do we collect information?</b></p>
                <p>We collect information from you when you register on <a href="/"><Strong>App-pick</Strong></a>.</p>

                <p><b>How do we use your information?</b></p>
                <p>We use this information to:</p>
                    <ul>
                       <li>Administer your account</li>
                        <li>Provide You Recharge And Gifts</li>
                        <li>Ask for shipping details</li>
                        <li>Respond to your questions and concerns</li>
                        <li>Improve <a href="/"><Strong>App-pick</Strong></a> and marketing efforts</li>
                        <li>Conduct research and analysis</li>
                    </ul>

                <p><b>Information Sharing</b></p>
                <p>We will share your personal information with third parties only in the ways that are described in this privacy statement. We do not sell your personal information to third parties.</p>
                <p>We may also disclose your personal information:</p>

                <p>as required by law such as to comply with a subpoena, or similar legal process
we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request,
</p>
                <p><b>Cookies and Other Tracking Technologies</b></p>
                <p>We may use cookies, for example, to keep track of your preferences and profile information. Cookies are also used to collect general usage and volume statistical information that does not include personal information.</p>

                <p><b>Notification of Privacy Statement Changes</b></p>
                <p>We may update this privacy statement to reflect changes to our information practices. If we make any material changes we will notify you by email (sent to the e-mail address specified in your account) or by means of a notice on this Site prior to the change becoming effective. We encourage you to periodically review this page for the latest information on our privacy practices.

</p><br/>
<br/>



            </div>

    </div>






{% endblock %}

</body>
</html>
