{% extends 'base.html' %}
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
    {% comment %}<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!--squad css-->
    <link href="css/squadcss/style.css" type="text/css" rel="stylesheet">{% endcomment %}





</head>
<body>
{% block body_block %}
    <div class="clearfix"></div>
    <div class="container marcomm-wrap" style="margin-top: 16%;">



            <h1>Terms & Conditions :</h1>
            <div>
                <p></p>
                <p>By enrolling and/or using the “<a href="/"><Strong>App-pick</Strong></a>” application, you agree that you have read and understand
                this Agreement ("Agreement") and that your membership in <a href="/"><Strong>App-pick</Strong></a> shall conform to its terms and
                conditions. Failure to this, your account will be permanently locked and you will no longer be
                eligible to claim any rewards or talktime against Money collected in your <a href="/"><Strong>App-pick</Strong></a> account.

                </p>
                <p>
                    This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PIIis information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
                </p>
                <ol>
                       <li><a href="/"><Strong>App-pick</Strong></a> cannot be used with Android Emulators. All devices are being verified at multiple
levels during availing the offers. If found to be used with emulators or some kind of other
automated system, your account for mobile number and device will be permanently locked.
</li><br/>
                        <li><a href="/"><Strong>App-pick</Strong></a> reserves the right to limit Talktime/rewards enrollment at any time.</li><br/>
                        <li><a href="/"><Strong>App-pick</Strong></a> is under no obligation to provide Members with any particular amount of earning
opportunities or send messages to them.
</li><br/>
                        <li>As of now <a href="/"><Strong>App-pick</Strong></a> is providing services to India region only.
<a href="/"><Strong>App-pick</Strong></a> reserves the right to prevent access to the Program and its website from mobile number
or IP addresses outside of India.
</li><br/>
                    <li>Corporations or other business entities are not eligible to become Members.</li><br/>
                    <li>Member agrees to comply with the terms of all <a href="/"><Strong>App-pick</Strong></a> and its advertiser and partner
offers, promotions, and programs at all times.
</li><br/>
                    <li>
                        Earning Amount & rewards are subject to change at any time without notice.
                    </li><br/>
                    <li> Earned amount will be subtracted from Member's account once the redemption order is
placed by the member and captured by the <a href="/"><Strong>App-pick</Strong></a> system.
</li><br/>
                    <li>
                        Once used to claim a recharge, Earned amount will not be reinstated to Member's account.
                    </li><br/>
                    <li>
                         In conjunction with recharging earned amount, Member agrees to confirm that all
information in Member's personal profile is up to date and accurate.

                    </li><br/>
                    <li>
                        No member is allowed to use or create fake ID or provide any fake profile information for
earning of money against mobile recharge

                    </li><br/>
                    <li>
                        Members are strictly prohibited to uninstall any mobile app to reinstall it thru <a href="/"><Strong>App-pick</Strong></a> for
earning. Once any mobile app is installed thru any channel (via <a href="/"><Strong>App-pick</Strong></a>, thru Play store directly or
thru any other similar program), Earned amount rewards cannot be claimed by uninstalling &
reinstalling the same mobile app.

                    </li><br/>
                    <li>
                        Member agrees to promptly notify <a href="/"><Strong>App-pick</Strong></a>.com of any change in Member's mobile number
or address (mail or email) or personal profile by updating his or her personal information in the My
Profile section of <a href="/"><Strong>App-pick</Strong></a> mobile app and the Website under My Account. Member's discontinued
participation in <a href="/"><Strong>App-pick</Strong></a> or failure to notify <a href="/"><Strong>App-pick</Strong></a>.com of any address (mail or email) or profile
changes may result in the termination of Member's membership and forfeiture of Member's
unredeemed amount.

                    </li><br/>
                    <li>
                        <a href="/"><Strong>App-pick</Strong></a> reserves the right to cancel or disable accounts and expire unredeemed earned
amount in those accounts that are inactive for a period of 6 consecutive months. Inactive shall be
defined as lack of one of the following: accessing and utilizing offers, website visit, email response
(clickthru), survey completion, viewing video, profile update or any earning or spending transaction
amount.

                    </li><br/>
                    <li>
                        <a href="/"><Strong>App-pick</Strong></a> reserves the right to change this Agreement, and/or any part thereof, at any time
as required by Company Law of India, Indian Government policy, Internet Usage policy, Telecom
Regulatory policy, Android users’ usage policy, <a href="/"><Strong>App-pick</Strong></a> or its parent company Innotical
Solutions Pvt. Ltd. policy. Member understands the most recent version of this Agreement will
be located on the <a href="/"><Strong>App-pick</Strong></a> Website or Mobile applicationunder Terms & Conditions.

                    </li><br/>
                    <li>
                        <strong><a href="/"><Strong>App-pick</Strong></a></strong> or its parent company <a href="http://innotical.com/"> Innotical Solutions Pvt. Ltd.</a>. reserves the right to modify or
discontinue the <a href="/"><Strong>App-pick</Strong></a> service with or without notice to Member..

                    </li><br/>
                    <li>
                        Recharge: <strong><a href="/"><Strong>App-pick</Strong></a> </strong>has tied up with third-party to facilitate recharge of mobile from various
telecom operators. <a href="/"><Strong>App-pick</Strong></a> is not liable or guarantee of full amount recharged be converted to
talktime since any recharge and service fee incurred, will completely be as per respective telecom
operators recharge policy.

                    </li><br/>

                    <li>
                        Privacy Policy: <a href="/"><Strong>App-pick</Strong></a> promises to maintain the privacy of members' personal information.
The full extent of our commitment can be found by visiting our Privacy Policy.

                    </li><br/>

                    </ol>





            </div>

    </div>
<br/>
<br/>
{% endblock %}



</body>
</html>